<ion-header>
  <ion-navbar>
    <ion-title>home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar></ion-searchbar>

  <ion-chip *ngFor="let item of chips">
    <ion-label (click)="onClickChip(item)">{{item.title}}</ion-label>
  </ion-chip>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of cards" size="6">
        <strong>{{item.title}}</strong>
        <ion-card>
          <strong>{{item.content}}</strong>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  

</ion-content>